body {
  margin: 0px;
  padding: 0px;
}
.box_max {
  width: 100%;
  margin: 0px auto;
  overflow: hidden;
}
.box_center {
  width: 89%;
  margin: 0px auto;
  overflow: hidden;
}
.center_min_box {
  width: 69%;
  margin: 0px auto;
}
.box_min {
  width: 62%;
  padding: 1.25%;
  margin: 0px auto;
  overflow: hidden;
}
.clearfix {
  clear: both;
  display: table;
}
.girl_box h2 {
  position: absolute;
  left: -150%;
}
.girl_box .button_hid {
  position: absolute;
  width: 54%;
  left: -150%;
}
.girl_box .hidden {
  position: absolute;
  left: -150%;
}
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Grenze Gotisch', cursive; */
/* font-family: 'Montserrat Alternates', sans-serif; */
/* font-family: 'Kumbh Sans', sans-serif; */
.button,
.button_hid {
  cursor: pointer;
  text-align: center;
  padding: 20px 0px;
  background-color: #7eb252;
  color: #ffffff;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  border: none;
  word-spacing: 4px;
  transition: all 0.5s;
}
.button:hover,
.button_hid:hover {
  background-color: #629734;
  transition: all 0.5s;
}
.button:active .button_hid:active {
  background-color: #629734;
  box-shadow: inset 0 0 10px #2b4614;
}
h2 {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
  margin-top: 0px;
  line-height: 33px;
}
.boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.boxes .box {
  margin: 0px;
}
.boxes .box_1 {
  width: 20%;
  margin-right: 10px;
  font-family: 'Grenze Gotisch', cursive;
  font-size: 28px;
  font-weight: 900;
  margin-top: -7px;
}
.boxes .box_1 span {
  color: #f02222;
}
.boxes .box_2 {
  width: 60%;
  font-size: 15px;
  text-align: left;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 17px;
  color: #9a9a9a;
}
.boxes .div {
  width: 20%;
}
.boxes .div .box_3 {
  text-align: right;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
  cursor: pointer;
}
.boxes .div i {
  color: #95c071;
  margin: 0px;
  margin-right: 20px;
}
.boxes .div .box_4 {
  text-align: right;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  margin: 0px;
  color: #9a9a9a;
}
.bunner {
  position: relative;
  width: 100%;
  height: 730px;
}
.bunner img {
  width: 100%;
  height: 73%;
}
.bunner .description {
  position: absolute;
  width: 33%;
  top: 25%;
  left: 47%;
}
.bunner .description h6,
.bunner .description h1,
.bunner .description h3 {
  margin: 0px;
  color: white;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 500;
}
.bunner .description h6 {
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.bunner .description h1 {
  font-size: 40px;
  margin-bottom: 28px;
}
.bunner .description h3 {
  font-size: 14px;
}
.bunner .pocket {
  position: absolute;
  width: 22%;
  height: 87%;
  left: 15.3%;
  top: 13%;
  background: url(images/Упаковка.png) no-repeat 44% 1%;
}
.bunner .box_button {
  cursor: pointer;
  width: 69%;
  margin: 0px auto;
  margin-top: 15px;
}
.bunner .box_button .button {
  width: 42%;
  float: right;
}
.exellence {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.exellence .box {
  position: relative;
  width: 25%;
  height: 200px;
}
.exellence .box .circl {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid #e4eddc;
  top: 10%;
}
.exellence .box .text {
  color: #a4c58c;
  border-bottom: 3px solid #a4c58c;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Kumbh Sans', sans-serif;
  margin-left: 8%;
  margin-top: 24%;
}
.exellence .box .text span {
  font-size: 12px;
}
.exellence .box .t_1 {
  width: 28%;
}
.exellence .box .t_2 {
  width: 30%;
}
.exellence .box .t_3 {
  width: 41%;
}
.exellence .box .t_4 {
  width: 30%;
}
.exellence .box .text_2 {
  width: 64%;
  line-height: 20px;
  margin-left: 8%;
  margin-top: 9%;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
}
.green_box {
  position: relative;
  width: 100%;
  height: 450px;
  background-color: #f6f9f3;
  margin-bottom: 55px;
  margin-top: 114px;
}
.green_box .center_min_box {
  width: 69%;
  margin: 0px auto;
}
.green_box .center_min_box .list {
  float: left;
  width: 56%;
}
.green_box .center_min_box .list .text {
  cursor: pointer;
  padding: 22px 0px;
  border-bottom: 1px solid #a4c58c;
  margin: 0px;
  font-family: 'Kumbh Sans', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  word-spacing: 4px;
  font-weight: 600;
}
.green_box .center_min_box .list .text span {
  color: #a4c58c;
  margin-right: 10px;
}
.green_box .center_min_box .list .text .arrow {
  float: right;
  opacity: 0;
  transition: all 0.5s;
}
.green_box .center_min_box .list .text:hover .arrow {
  opacity: 1;
  transition: all 0.5s;
}
.green_box .center_min_box .empty {
  float: left;
  width: 50%;
}
.green_box .body {
  position: absolute;
  width: 29%;
  height: 530px;
  top: -114px;
  left: 751px;
  background-color: #9999ff;
}
.green_box .body img {
  width: 100%;
  height: 530px;
}
.green_box .body .circ {
  top: 124px;
  left: 100px;
  position: absolute;
  width: 25px;
  height: 25px;
  color: #f3f7ef;
  border: 7px solid #f3f7ef;
  border: 5px solid #f3f7ef;
  border-radius: 50%;
  background-color: #a5c98a;
}
.green_box .body .circ p {
  text-align: center;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: -7px;
  margin-top: 8px;
}
.green_box .body .c_1 {
  top: 159px;
  left: 100px;
  opacity: 0;
}
.green_box .body .c_2 {
  top: 195px;
  left: 216px;
  opacity: 0;
}
.green_box .body .c_3 {
  top: 34px;
  left: 210px;
  opacity: 0;
}
.green_box .body .c_4 {
  top: 107px;
  left: 198px;
  opacity: 0;
}
.green_box .body .c_5 {
  top: 20px;
  left: 177px;
  opacity: 0;
}
.green_box .body .c_6 {
  top: 313px;
  left: 129px;
  opacity: 0;
}
.green_box .body .c_7 {
  top: 40px;
  left: 178px;
  opacity: 0;
}
.green_box .box_button {
  cursor: pointer;
  position: absolute;
  width: 69%;
  top: 450px;
  left: 751px;
}
.green_box .box_button .button {
  width: 42%;
}
.girl_box {
  position: relative;
  width: 100%;
  margin-top: 114px;
  margin-bottom: 63px;
}
.girl_box img {
  width: 48%;
}
.girl_box .descript_boxes {
  width: 100%;
  margin-top: 114px;
  position: absolute;
  top: 0px;
}
.girl_box .descript_boxes .two_boxes {
  display: flex;
  justify-content: space-around;
}
.girl_box .descript_boxes .two_boxes .sqwere {
  width: 50%;
  height: 160px;
  margin-top: 217px;
  padding: 0px 12px;
  background: #ffffff;
  padding: 0px;
  border: 2px solid #a4c58c;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 14px;
  line-height: 22px;
  box-shadow: 0 0 0px 12px white;
}
.girl_box .descript_boxes .two_boxes .sqwere p {
  margin-top: 0px;
  padding: 18px;
}
.girl_box .descript_boxes .two_boxes .sqwere .button {
  cursor: pointer;
  width: 100%;
  margin: -14px -2px;
  border: 2px solid #7eb252;
}
.girl_box .descript_boxes .two_boxes .sqwere .button:hover {
  border: 2px solid #629734;
}
.girl_box .descript_boxes .two_boxes .des {
  width: 50%;
  padding: 0px 41px;
  margin-top: -102px;
}
.girl_box .descript_boxes .two_boxes .des h2 {
  margin-left: 37px;
}
.girl_box .descript_boxes .two_boxes .des h3 {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  margin-left: 37px;
}
.girl_box .descript_boxes .two_boxes .des li {
  list-style: none;
  background: url(images/стрелка_1.png) no-repeat 0px 0px;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 14px;
  line-height: 22px;
  padding-left: 22px;
  margin: 27px 0px;
}
.you_get {
  position: relative;
  width: 100%;
  margin-top: 114px;
}
.you_get h2 {
  width: 267px;
  padding-left: 20px;
  margin-bottom: 50px;
}
.you_get .green_box {
  height: 200px;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 292px;
}
.you_get .green_box .green_box .center_min_box {
  position: relative;
}
.you_get .green_box .catalogue {
  display: flex;
  position: relative;
  top: -25px;
  padding: 20px;
  justify-content: space-between;
  background-color: white;
}
.you_get .green_box .catalogue .box {
  cursor: pointer;
  width: 196px;
  height: 196px;
  border: 2px solid #ffffff;
  padding: 10px;
  transition: all 0.5s;
}
.you_get .green_box .catalogue .box .count {
  text-align: center;
  font-size: 130px;
  margin: 0px;
  margin-top: 46px;
  color: #a5c98a;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 900;
  opacity: 0.13;
}
.you_get .green_box .catalogue .box .text {
  text-align: center;
  font-family: 'Kumbh Sans', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  margin: 0px;
  font-weight: 600;
}
.you_get .green_box .catalogue .b_1 {
  background: url("images/Травка.png") no-repeat 50% 45%;
}
.you_get .green_box .catalogue .b_2 {
  background: url("images/Инструкция по применению.png") no-repeat 50% 45%;
}
.you_get .green_box .catalogue .b_3 {
  background: url("images/Сертификат качества.png") no-repeat 50% 45%;
}
.you_get .green_box .catalogue .box:hover {
  border: 2px solid #a4c58c;
  transition: all 0.5s;
}
.flowers {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.flowers .flower_box {
  width: 50%;
  padding-top: 29px;
}
.flowers .flower_box .flower {
  position: relative;
  float: left;
  width: 41%;
  margin: 2%;
  padding: 2%;
  background-color: #f6f9f3;
  transform: rotate(-90deg);
}
.flowers .flower_box .flower img {
  display: block;
  width: 80%;
  margin: 0px auto;
}
.flowers .flower_box .flower .num {
  text-align: right;
  margin: 0px;
  font-size: 14px;
  color: #a4c58c;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 600;
}
.flowers .flower_box .flower .name {
  text-align: left;
  margin: 0px;
  margin-top: 3%;
  font-size: 14px;
  color: #a4c58c;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 600;
}
.flowers .flower_box .flower .fone {
  position: absolute;
  opacity: 0;
  top: 4%;
  width: 92%;
  height: 92%;
  background: linear-gradient(to top right, #80a84f, #ebffd2);
  font-size: 14px;
  color: #ffffff;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 600;
}
.flowers .flower_box .flower .fone p {
  text-align: center;
  margin-top: 42%;
  transform: rotate(90deg);
}
.flowers .flower_box .fl_6 img {
  transform: rotate(90deg);
}
.flowers .flower_box .flower:hover .fone {
  opacity: 0.9;
  transition: all 0.5s;
}
.flowers .flower_descript {
  width: 45%;
  padding: 15px;
}
.flowers .flower_descript li {
  color: #a4c58c;
  list-style-type: disc;
  margin-bottom: 20px;
}
.flowers .flower_descript li span {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: black;
}
.flowers .flower_descript .button {
  width: 350px;
  margin-top: 184px;
  float: right;
}
.foolproof {
  min-height: 100px;
  margin-top: 114px;
}
.foolproof h2 {
  width: 100%;
  padding: 15px;
  margin-bottom: 0px;
  padding-top: 100px;
}
.foolproof .green_box {
  width: 100%;
  min-height: 150px;
  background-color: #f6f9f3;
  margin: 0px;
}
.foolproof .green_box .flex {
  display: flex;
  justify-content: space-between;
}
.foolproof .green_box .flex .descript {
  width: 50%;
  padding-left: 60px;
}
.foolproof .green_box .flex .descript h3 {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 22px;
  margin-left: -15px;
  margin-top: 20px;
}
.foolproof .green_box .flex .descript .descript_box {
  position: relative;
  border: 2px solid #a4c58c;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 14px;
  line-height: 22px;
  box-shadow: 0 0 0px 12px white;
  margin-top: 50px;
  padding-left: 45px;
  padding-top: 26px;
  background-color: white;
}
.foolproof .green_box .flex .descript .descript_box h3 {
  position: absolute;
  background-color: white;
  color: #a4c58c;
  margin: 0px;
  padding: 0px 5px;
  top: -12px;
}
.foolproof .green_box .flex .descript .descript_box .button {
  float: right;
  width: 85%;
  margin-top: 20px;
}
.foolproof .green_box .flex .certifiate {
  position: relative;
  width: 41%;
}
.foolproof .green_box .flex .certifiate img {
  width: 350px;
  top: -132px;
  left: 33px;
  position: absolute;
}
footer {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .box_1 {
  width: 19%;
  margin: 0px;
  font-family: 'Grenze Gotisch', cursive;
  font-size: 28px;
  font-weight: 900;
}
footer .box_1 span {
  color: #f02222;
}
footer .box_2,
footer .box_3,
footer .box_4 {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 9px;
  color: #9a9a9a;
  text-decoration: underline;
  margin: 0px;
  cursor: pointer;
}
footer .box_5 {
  text-align: right;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
  cursor: pointer;
}
footer .box_5 i {
  color: #95c071;
  margin: 0px;
  margin-right: 20px;
}
footer .box_6 {
  text-align: right;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  margin: 0px;
  color: #9a9a9a;
}
@media (max-width: 1455px) {
  footer .box_1 {
    font-size: 24px;
  }
  footer .box_5 {
    font-size: 14px;
  }
  .girl_box .descript_boxes .two_boxes .sqwere {
    width: 59%;
    height: 160px;
    margin-top: 200px;
  }
  .boxes .box_1 {
    font-size: 24px;
  }
  .boxes .box_2 {
    font-size: 14px;
  }
  .boxes .div .box_3 {
    font-size: 14px;
  }
  .bunner .pocket {
    width: 25%;
    height: 87%;
  }
  .button {
    font-size: 10px;
  }
}
@media (max-width: 1350px) {
  h2 {
    font-size: 22px;
  }
  .exellence .box .text {
    font-size: 18px;
  }
  .exellence .box .text_2 {
    font-size: 12px;
  }
  .exellence .box .circl {
    width: 10px;
    height: 10px;
  }
  .green_box {
    height: 415px;
  }
  .green_box .box_button {
    top: 415px;
    left: 684px;
    width: 69%;
  }
  .green_box .center_min_box .list .text {
    font-size: 10px;
  }
  .green_box .center_min_box .list .text span {
    font-size: 10px;
  }
  .green_box .body {
    position: absolute;
    width: 29%;
    height: 460px;
    top: -70px;
    left: 684px;
  }
  .green_box .body img {
    width: 100%;
    height: 460px;
  }
  .girl_box .descript_boxes .two_boxes .sqwere {
    width: 63%;
    margin-left: 24px;
    font-size: 13px;
  }
  .girl_box .descript_boxes .two_boxes .des {
    width: 50%;
    padding: 0px 32px;
    margin-top: -130px;
  }
  .girl_box .descript_boxes .two_boxes .des h2,
  .girl_box .descript_boxes .two_boxes .des h3 {
    margin-left: 57px;
  }
  .girl_box .descript_boxes .two_boxes .des h3 {
    font-size: 10px;
  }
  .girl_box .descript_boxes .two_boxes .des ul {
    margin-left: 20px;
  }
  .girl_box .descript_boxes .two_boxes .des ul li {
    font-size: 13px;
  }
  .you_get .green_box .catalogue .box .text {
    font-size: 10px;
  }
  .flowers .flower_box {
    width: 52%;
  }
  .flowers .flower_box .flower {
    width: 41%;
  }
  .flowers .flower_box .flower .name {
    font-size: 11px;
  }
  .flowers .flower_box .flower .num {
    font-size: 11px;
  }
  .flowers .flower_descript li span {
    font-size: 13px;
  }
  .flowers .flower_descript .button {
    margin-top: 58px;
  }
  .foolproof .green_box .flex .descript .descript_box {
    font-size: 13px;
  }
  .foolproof .green_box .flex .descript h3 {
    font-size: 10px;
  }
  .foolproof .green_box .flex .descript .descript_box {
    box-shadow: 0 0 0px 12px white;
    margin-top: 30px;
    padding-left: 39px;
    padding-top: 23px;
  }
  .foolproof .green_box .flex .descript .descript_box .button {
    margin-top: 0px;
    margin-right: -1px;
  }
}
@media (max-width: 1260px) {
  .boxes .box_2 {
    font-size: 12px;
  }
  .boxes .div .box_3 {
    font-size: 12px;
  }
  .boxes .div .box_4 {
    font-size: 10px;
  }
  .bunner {
    height: 600px;
  }
  .bunner img {
    height: 64%;
  }
  .bunner .description {
    top: 19%;
  }
  .bunner .pocket {
    width: 27%;
    height: 87%;
    background: url(file:///C:/Users/%D0%98%D0%BD%D0%BD%D0%B0/Desktop/%D0%9C%D0%BE%D0%B8%20%D1%81%D0%B0%D0%B9%D1%82%D1%8B/%D0%A4%D0%B8%D1%82%D0%BE%D0%B1%D0%BE%D0%BA%D1%81/images/Упаковка.png) no-repeat 44% 98%;
  }
  .green_box .body {
    width: 31%;
    height: 460px;
    left: 640px;
  }
  .green_box .box_button {
    top: 415px;
    left: 640px;
    width: 74%;
  }
  .girl_box {
    margin-bottom: 72px;
  }
  .girl_box .descript_boxes {
    margin-top: 88px;
  }
  .girl_box .descript_boxes .two_boxes .des {
    margin-top: -172px;
  }
  .flowers .flower_descript .button {
    margin-top: 30px;
    width: 294px;
  }
  footer .box_1 {
    font-size: 20px;
  }
  footer .box_5 {
    font-size: 12px;
  }
  footer .box_6 {
    font-size: 10px;
  }
}
@media (max-width: 1150px) {
  h2 {
    font-size: 18px;
  }
  .button {
    font-size: 9px;
  }
  .boxes .box_1 {
    font-size: 20px;
    width: 25%;
  }
  .boxes .box_2 {
    width: 44%;
    font-size: 12px;
  }
  .boxes .div {
    width: 30%;
  }
  .bunner {
    height: 460px;
  }
  .bunner .bunner img {
    height: 73%;
  }
  .bunner .pocket {
    width: 0;
    height: 0;
  }
  .bunner .description {
    left: 15%;
    width: 54%;
  }
  .bunner .button {
    font-size: 9px;
  }
  .exellence .box .circl {
    width: 8px;
    height: 8px;
  }
  .exellence .box .text {
    font-size: 14px;
  }
  .exellence .box .text span {
    font-size: 10px;
  }
  .exellence .box .text_2 {
    font-size: 10px;
  }
  .green_box {
    height: 400px;
  }
  .green_box .body {
    width: 30%;
    height: 95%;
    left: 60%;
    top: -22px;
  }
  .green_box .body img {
    width: 100%;
    height: 100%;
  }
  .green_box .box_button {
    top: 398px;
    left: 60%;
    width: 72%;
  }
  .green_box .center_min_box .list .text {
    font-size: 9px;
  }
  .green_box .center_min_box .list .text span {
    font-size: 9px;
  }
  .girl_box {
    margin-top: 135px;
  }
  .girl_box .descript_boxes .two_boxes .sqwere {
    width: 59%;
    height: 161px;
    margin-top: 104px;
    font-size: 10px;
  }
  .girl_box .descript_boxes .two_boxes .des h2,
  .girl_box .descript_boxes .two_boxes .des h3 {
    margin-left: 0px;
  }
  .girl_box .descript_boxes .two_boxes .des h3 {
    font-size: 9px;
  }
  .girl_box .descript_boxes .two_boxes .des ul {
    margin-left: 0px;
  }
  .girl_box .descript_boxes .two_boxes .des ul li {
    font-size: 10px;
  }
  .girl_box .descript_boxes .two_boxes .des li {
    background: none;
    margin: 22px 0px;
  }
  .you_get {
    margin-top: 67px;
  }
  .flowers .flower_descript li span {
    font-size: 10px;
  }
  .flowers .flower_box .flower .num {
    font-size: 10px;
  }
  .flowers .flower_box .flower .name {
    font-size: 10px;
  }
  .flowers .flower_box .flower .fone p {
    font-size: 10px;
  }
  .foolproof {
    margin-top: 67px;
  }
  .foolproof .green_box .flex .descript h3 {
    font-size: 9px;
  }
  .foolproof .green_box .flex .descript .descript_box {
    font-size: 10px;
  }
  .foolproof .green_box .flex .descript .descript_box .button {
    padding: 15px 0px;
  }
  .foolproof .green_box .flex .certifiate img {
    width: 98%;
    top: -87px;
    left: 21%;
  }
}
@media (max-width: 1060px) {
  .foolproof .green_box .flex .certifiate img {
    width: 98%;
    top: -53px;
    left: 21%;
  }
  footer .box_1 {
    width: 26%;
    font-size: 18px;
  }
  footer .box_2,
  footer .box_3,
  footer .box_4 {
    font-size: 6px;
  }
}
@media (max-width: 965px) {
  .flowers .flower_box .flower .name {
    font-size: 6px;
  }
  .flowers .flower_box .flower .num {
    font-size: 6px;
  }
}
@media (max-width: 890px) {
  .button,
  .button_hid {
    font-size: 8px;
  }
  .boxes {
    display: flex;
    flex-wrap: wrap;
  }
  .boxes .box_1 {
    width: 45%;
  }
  .boxes .box_2 {
    width: 0;
    font-size: 0;
  }
  .boxes .div {
    width: 50%;
  }
  .bunner {
    height: 267px;
  }
  .bunner img {
    height: 58%;
  }
  .bunner .description {
    left: 15%;
    width: 52%;
    top: 13%;
  }
  .bunner .description h6 {
    font-size: 8px;
    margin-bottom: 10px;
  }
  .bunner .description h1 {
    font-size: 18px;
    margin-bottom: 22px;
  }
  .bunner .description h3 {
    font-size: 9px;
  }
  .bunner .box_button .button {
    width: 100%;
    float: left;
  }
  .exellence {
    display: flex;
    flex-wrap: wrap;
  }
  .exellence .box {
    width: 50%;
    height: auto;
  }
  .exellence .box .text {
    font-size: 12px;
  }
  .exellence .box .text span {
    font-size: 8px;
  }
  .green_box {
    margin-top: 55px;
  }
  .green_box .body {
    left: -100%;
  }
  .green_box .box_button {
    top: 402px;
    left: 10%;
    width: 81%;
  }
  .green_box .box_button .button {
    width: 100%;
  }
  .green_box .center_min_box .list {
    float: left;
    width: 100%;
  }
  .green_box .center_min_box .list .text {
    font-size: 8px;
    padding: 21px 0px;
  }
  .green_box .center_min_box .list .text span {
    font-size: 8px;
  }
  .green_box .center_min_box .empty {
    float: left;
    width: 0px;
  }
  .girl_box h2 {
    font-size: 16px;
    position: absolute;
    top: -26%;
    left: 0%;
    line-height: 28px;
  }
  .girl_box .button_hid {
    position: absolute;
    width: 54%;
    top: 108%;
    left: 0%;
  }
  .girl_box .descript_boxes {
    width: 100%;
    margin-top: 114px;
    position: absolute;
    top: 0px;
    left: -150%;
  }
  .girl_box .hidden {
    float: right;
    width: 39%;
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    margin-top: 0px;
    left: 50%;
    top: -1%;
  }
  .girl_box .hidden li {
    margin-bottom: 10px;
  }
  .you_get .green_box {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 674px;
  }
  .you_get .green_box .catalogue {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: -25px;
    padding: 20px;
  }
  .you_get .green_box .catalogue .box {
    margin: 0px auto;
  }
  .flowers {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .flowers .flower_box {
    position: absolute;
    left: -200%;
  }
  .flowers .flower_descript {
    width: 100%;
    padding: 15px;
  }
  .foolproof .green_box .flex .descript {
    width: 100%;
    padding-left: 10px;
  }
  .foolproof .green_box .flex .descript h3 {
    font-size: 8px;
  }
  .foolproof .green_box .flex .descript .descript_box {
    font-size: 10px;
    width: 100%;
    padding: 12px;
  }
  .foolproof .green_box .flex .descript .descript_box h3 {
    font-size: 8px;
  }
  .foolproof h2 {
    padding-top: 65px;
  }
  .foolproof .green_box .flex .certifiate {
    position: absolute;
    left: -200%;
  }
  footer {
    position: relative;
  }
  footer .box_1 {
    width: 41%;
  }
  footer .box_2,
  footer .box_3,
  footer .box_4 {
    position: absolute;
    left: -200%;
  }
}
@media (max-width: 750px) {
  .girl_box h2 {
    top: -30%;
  }
}
@media (max-width: 650px) {
  .girl_box h2 {
    top: -35%;
  }
}
@media (max-width: 550px) {
  .girl_box h2 {
    top: -45%;
  }
}
